.red-bordered {
    border: 3px dashed red;
}

.blue-bordered {
    border: 3px dashed blue;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid black;
}

td {
    text-align: left;
}

.total {
    border-color: rgb(200,200,200);
    border-style: solid;
    background-color: rgb(235,235,235);
}
